@charset "UTC-8";
@font-face {
    font-family:'passi';
    src: url('fontes/PassionOne-Regular.ttf') format('truetype');
    font-weight: lighter;
}
@font-face {
    font-family:'sri' ;
    src: url('fontes/Sriracha-Regular.ttf') format('truetype');
    font-weight: lighter;
}
*{
    margin: 0px;
    padding: 0px;
}
html, body {
    background-color: darkgray;   
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header >h1 {
  padding: 50px;  
  /* text-transform: uppercase; Coloca em letra maiusculas*/
  font-display: small-caps;/*Coloca as primeiras em maiuculas*/
  font-family: 'passi';
  font-weight: lighter;
  font-size: 10vw; /* colocar a fonte no tamanha da pagina(baseado na largura da tela)*/

}
header > p{
    padding-bottom: 50px;
}
header a,footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
footer a:hover, header a:hover{
    text-decoration: underline;
}
section {
    padding: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    font-family:'sri';
    font-size: 3.3vw;
}
section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    background-color: rgba(0, 0, 0, 0.663);
    color: white;
}
section.imagem >p{
    background-color: rgba(0, 0, 0, 0.149);
    color: white;
    display: inline-block; /*transforma a caixa de acordo com tamanho da caixa*/
    padding: 15px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
